<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jason.module_main" >

    <application android:theme="@style/AppTheme">
        <activity android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--<meta-data-->
                <!--android:name="android.app.shortcuts"-->
                <!--android:resource="@xml/shortcuts"/>-->
        </activity>
        <activity android:name=".mvp.ui.activity.GuideActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.WebActivity"
            android:process=":web"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.CityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.SearchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.ShortcutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".mvp.ui.activity.PluginActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
